html {
  font-family: sans-serif;
  font-size: 200px;
}

/* Your CSS below here */
div{
    width: 200px;
    height: 100px;
    display: table-cell;

    align-items: center;
    justify-items: center;
    margin: 50px auto;
    font-size: 1.1 rem;
 /* coler base design background color.*/
    background-color: #e63946; /* base color: a nice red */
    color: #fff; /* contrasting text color */
    text-shadow: 1px 1px 0px black;

    /* Center the box horizontally.*/
    /*margin:0px auto;*/
    /* Center the text witin the box */
    text-align: center;
    /* font size 17 px = ~1.06 rem, 18px~ 1.125rem*/
    font-size: 17.6px ;
    

    /*border: 1px solid #b02d37; /* slightly darker version of base color */
    border-radius: 8px;
    border: 1px; 
    

}



